<div class="hero-unit">
	<% if flash[:alert] %>
		<div class="alert alert-error">
			<%= flash[:alert] %>
		</div>
	<% end %>
	
	<p>Log-in!</p>

	<%= form_tag sessions_path do %>

		<p><%= text_field_tag( :username, params[:username], :placeholder => "Username" ) %></p>
		<p><%= password_field_tag( :password, params[:password],:placeholder => "Password" ) %></p>
		<p class="button"><%= submit_tag "Login", :class => "btn" %></p>

	<% end %>

</div>