<div class="hero-unit">
<%= form_for(@user, :multipart => true) do |f| %>
    <p><%= @user.username %></p>
    <p><%= f.text_field :username, :placeholder => "Username" %></p>
    <p><%= f.text_field :first_name, :placeholder => "First Name" %></p>
    <p><%= f.text_field :last_name, :placeholder => "Last Name" %></p>
    <p><%= f.password_field :password, :placeholder => "Password" %></p>
    <p><%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %></p>
    <p><%= f.file_field :avatar, :placeholder => "Upload Profile Picture" %></p>
     <div>
       <%= f.submit %>
     </div>
<% end %>
</div>
