<div class="hero-unit">
	<% if flash[:alert] %>
		<div class="alert alert-error">
			<%= flash[:alert] %>
		</div>
	<% end %>

	<p>Sign-up!</p>

	<%= form_for @user do |f| %>
		<p><%= f.text_field :first_name, :placeholder => "first name" %></p>
		<p><%= f.text_field :last_name, :placeholder => "last name" %></p>
		<p><%= f.text_field :username, :placeholder => "username" %></p>
		<p><%= f.text_field :phone, :placeholder => "phone ex: 3031237777" %></p>
		<p><%= f.text_field :email, :placeholder => "email" %></p>
		<p><%= f.password_field :password, :placeholder => "password" %></p>
		<p><%= f.password_field :password_confirmation, :placeholder => "confirm password" %></p>
		<p class="button"><%= f.submit "Sign-in!", :class => 'btn btn-info' %></p>
	<% end %>

</div>
