<h3><%= @user.username %></h3>

<div id="profile">
	<% if @user.first_name && @user.last_name %>
	<p><%= @user.first_name + " " + @user.last_name %></p>
	<% end %>

	<%= image_tag(@user.avatar.url) %>
	<% puts @user.avatar.url %>

	<% if current_user == @user %>
	<%= link_to 'Edit', edit_user_path(@user.id) %>
	<p><%= link_to "Add new product", :controller => :products, :action => :new %></p>
	<% end %>


	<div id="my_products">
		<h4><%= @user.username %>'s Products</h4>
		<%= render :partial => 'products/list', :collection => @my_products %>
	</div>

</div>