<div class="hero-unit">
  <div id="product-form">
  <p class="new-product">New Product:</p>

  <%= form_for(@product) do |f| %>

    <p><%= f.text_field :name, :placeholder => "product name" %></p>
    <p><%= f.text_field :price,:placeholder => "product price"%></p>
    <p><%= f.text_area :description,:placeholder => "product description", :class => "p-desc"%></p>
    <div class="button-container">
      <div class="actions"><%= f.submit "Create!", :class => "btn" %></div>
      <div class="cancel"><%= link_to 'Cancel', user_path(current_user.id), :class => "btn btn-danger" %></div>
    </div>
  <% end %>
  </div>

</div>