<% if !current_user %>
  <div class='suggestions alert alert-info'>Tip: <%= link_to "Log-in", log_in_path %> to add products for everyone to see!</div>
<% end %>

<%= will_paginate @products, :class => 'pagination pagination-centered' %>

<table>
    <tbody>
  <% @products.each_with_index do |product, index| %>
  <% if (index%5) == 0 %>
    <tr>
  <% end %>
        <td>
            <li class="product-frame">
                <div class="product-image"><%= link_to image_tag(product.avatar.url(:thumb)), product_path(product.id) %></div>
                <p class="product-name"><%= product.name %></p>
                <span class="product-price"><%= number_to_currency(product.price) %></span>
                <span class="product-creator"><%= link_to creator(product.id).username, user_path(creator(product.id).id) %></span>
            </li>
        </td>
  <% if (index%5) == 4 %>
    </tr>
  <% end %>

  <% end %>
</tbody>
</table>

<%= will_paginate @products,:class => 'pagination pagination-centered' %>
