<div id="product-view" class="hero-unit">

  <div class="product">
    <div class="product-pic">
      <%= image_tag(@product.avatar.url(:large)) %>
    </div>
  <% if current_user == @user %>
    <div class="product-edit">
      <%= link_to 'Delete Product', delete_product_path(:id => @product.id), :class => 'btn btn-danger' %>
      <%= link_to 'Edit Product', edit_product_path(@product.id), :class => 'btn btn-info' %>
    </div>
  <% end %>    
  </div>

  <div class="product-info">
    <p>Product Name:</p>
    <p class="info"><%= @product.name %></p>
    <p>Created by:</p>
    <p class="info"><%= link_to creator(@product.id).username, user_url(creator(@product.id).id) %></p>
    <p>Price:</p>
    <p class="info price"><%= number_to_currency(@product.price) %></p>
    <p>Description:</p>
    <p class="info"><%= @product.description %></p>
  </div>
  
</div>
