<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Views:</b>
  <%= @product.view_count %>
</p>

<p>
  <b>Creator:</b>
  <%= @product.user_id %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %>|
<%= link_to 'Back', products_path %>
