<!DOCTYPE html>
<html>
<head>
  <title>Goodies</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap", :media => "all" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>

<body id="store">
	<div class="navbar navbar-fixed-top">
		<div id="navbar" class="navbar-inner">
			<a class="brand" href="/"> Goodies</a>
			<div class="navbar-text pull-right">
				<ul class="nav">
				<% if current_user %>
					<li><%= link_to current_user.username, { :controller => "users", :action => "show", :id => current_user.id } %></li>
					<li class="divider-vertical"></li>
					<li><%= link_to "Log out", log_out_path %></li>
				<% else %>
					<li><%= link_to "Sign up", sign_up_path %></li>
					<li class="divider-vertical"></li>
					<li><%= link_to "Log in", log_in_path %></li>
				<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div id="content">
		<div id="main-nav">
			<div class="joke"><span class="funny">Funnies:  </span><span><%= joke %></span></div>
			<ul>
				<li><%= link_to "All Users", all_users_path %></li>
				<li><span class="divider">|</span></li>
				<li><%= link_to "All Products", all_products_path %></li>
				<li><span class="divider">|</span></li>
				<li><%= link_to "Most Recent", most_recent_path %></li>
				<li><span class="divider">|</span></li>
				<li><%= link_to "Most Popular", most_popular_path %></li>
			</ul>
		</div>
		<% if current_user %>
			<div id="sub-nav">
				<ul class="nav">
				<li><%= link_to "My Profile", { :controller => "users", :action => "show", :id => current_user.id } %></li>
				<li><%= link_to "My Products", { :controller => "products", :action => "my_products", :id => current_user.id } %></li>
				</ul>
			</div>
		<% end %>
		<hr>
		<%= yield %>
	</div>
</body>
</html>