<!DOCTYPE html>
<html>
<head>
  <title>Goodies</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>

<body id="store">
	<div id="banner">
		<h2>Welcome to Goodies!</h2>
	</div>
	<div id="user_nav">
		<% if current_user %>
			Logged in as <%= current_user.username %>
			<%= link_to "Log out", log_out_path %>
		<% else %>
			<%= link_to "Sign up", sign_up_path %> or
			<%= link_to "Log in", log_in_path %>
		<% end %>
	</div>

	<div id="main">
		<%= yield %>
	</div>

</body>
</html>
